/* body{
       direction:ltr;
} */

/* .body{
       margin-left: 400px;
       margin-right: 400px;
        display: flex;
} */

/* .header{
       background-color: rgb(146, 120, 168);
       height:150px;
       color:#fff;
       padding-top: 5px;
       margin-left: 400px;
       margin-right: 400px;
       margin-top: 0;
       display: flex;
} */

/* .name{
 margin-left: 40px;
 font-size: 40px;
 margin-bottom:0;
} */

/* .develop{
       font-size: 25px;
       color: rgb(255, 255, 255);
       margin-left: 40px;
       margin-top: 8px;
} */

/* .profile{
       font-size: 27px;
       margin-bottom: 0;
      color: rgb(120, 69, 188);
} */

/* .left{
       width: 50%;
       margin-left: 30px;
       margin-bottom: 80px;
       margin-right:20px;
} */

/* .matn{
       font-size: 22px;
       margin-top:15px;
       margin-bottom: 50px;
       text-align:justify;
} */

/* .title{
       font-size: 21px;
       margin-bottom: 0;
       margin-top: 20px;
} */

/* .detail{
       font-size:larger;
       margin-top: 8px;
       margin-bottom: 30px;
       margin-left: 15px;
} */

/* .date{
      font-size: medium;
      color: rgb(120, 69, 188);
      margin-top:5px;
      margin-left: 15px;
      margin-bottom: 0;
} */

/* .right{
       width: 50%;
       margin-right:30px;
       margin-bottom: 80px;
       margin-left: 20px;
} */

/* .uni{
       font-size: 20px;
       margin-top: 15px;
       margin-bottom: 10px;
       margin-left: 15px;
} */

/* .loc{
       font-size: 18px;
       margin-top: 0;
       margin-bottom: 10px;
       margin-left: 15px;
} */

/* .social{
       margin-top: 10px;
       margin-left: 300px;
} */

/* .icon{
       display: flex;
       margin-top: 10px;
} */

/* .address{
       color: #fff;
       font-size: 20px;
       margin-left: 15px;
       text-decoration-line: none;
} */





